<div class="message">
  <div class="message-content clearfix">
  <% if message.user == user %>
    <div class="message-items-right">
      <% if message.user.picture_profile? %>
        <%= image_tag asset_path message.user.picture_profile.profile.url %> <small>at <%= message.created_at.to_s(:long) %></small>
      <% else %>
        <%= image_tag asset_path "default.jpg" %> <small>at <%= message.created_at.to_s(:long) %></small>
      <% end %>
      <p><%= message.content %></p>
    </div>
  <% else %>
    <div class="message-items-left">
      <% if message.user.picture_profile? %>
          <%= image_tag asset_path message.user.picture_profile.profile.url %> <small>at <%= message.created_at.to_s(:long) %></small>
      <% else %>
          <%= image_tag asset_path "default.jpg" %> <small>at <%= message.created_at.to_s(:long) %></small>
      <% end %>
      <p><%= message.content %></p>
    </div>
  <% end %>
  </div>
  <hr>
</div>