<div class="user-background">
	<% if @user.picture_background? %>
		<%= image_tag asset_path @user.picture_background.background.url %>
	<% else %>
		<%= image_tag asset_path "default.jpg" %>
	<% end %>
</div>
<div class="profile-headline">
	<% if @user.type_user_before_type_cast == 0 %>
		<h1 class="title_type1_traveler"><%= @user.type_user %></h1>
	<% elsif @user.type_user_before_type_cast == 1 %>
		<h1 class="title_type1_local"><%= @user.type_user %></h1>
	<% end %>
</div>

<div class="user-headline clearfix">
    <div class="user-headline-left">
    	<% if @user == current_user %>
		<%= link_to "your favorites", user_favorite_page_path(current_user), class:"label label-default", :style=>"background-color: #c77eb5;" %>
		<%= link_to "edit profile", edit_user_path(current_user), class:"label label-default", :style=>"background-color: #c77eb5;" %>
		<%= link_to "unsubscribe", users_unsubscribe_path(current_user), class:"label label-default", :style=>"background-color: #c77eb5;" %>
		<% end %>
	</div>
	<div class="user-headline-image">
		<% if @user.picture_profile? %>
			<%= image_tag asset_path @user.picture_profile.profile.url %>
		<% else %>
			<%= image_tag asset_path "default.jpg" %>
		<% end %>
	</div>
	<div class="user-headline-rigth">
		<p>User Name</p>
		<p style="font-size: 30px; font-weight: bold;"><%= @user.name_user %></p>
		<% if @user.status_user_before_type_cast == 0 %>
			<%= link_to @user.status_user, user_status_path(@user), method: :patch, remote: true, :style=>"font-size: 20px;", class:"label label-success" %>
		<% elsif @user.status_user_before_type_cast == 1 %>
			<%= link_to @user.status_user, user_status_path(@user), method: :patch, remote: true, :style=>"font-size: 20px;", class:"label label-warning" %>
		<% elsif @user.status_user_before_type_cast == 2 %>
			<%= link_to @user.status_user, user_status_path(@user), method: :patch, remote: true, :style=>"font-size: 20px;", class:"label label-danger" %>
		<% end %>
	</div>
</div>
<!-- travelers用とlocals用必要 -->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="favorite-users-headline">
				<h1 class="title_type1">Your favorites</h1>
			</div>
			<div class="favorite-users-content clearfix">
				<% if @users.exists? %>
				<% @users.each do |user| %>
				<div class="favorite-users">
					<div class="thumbnail">
						<% if user.picture_profile? %>
							<%= image_tag asset_path user.picture_profile.profile.url %>
						<% else %>
							<%= image_tag asset_path "default.jpg" %>
						<% end %>
						<div class="caption">
							<h4><%= link_to "#{user.name_user}" ,user_path(user) %></h4>
							<p>Nationality: <%= user.nationality %></p>
							<p>Age: <%= (Date.today.strftime("%Y%m%d").to_i - user.birthday.strftime("%Y%m%d").to_i) / 10000 %></p>
						</div>
					</div>
				</div>
				<% end %>
				<% else %>
					<p>There is no favorite user.</p>
				<% end %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="favorite-Tricket-headline">
				<h1 class="title_type1">Favorite Trickets</h1>
			</div>
			<% if @posts_like.present? %>
				<% @posts_like.each do |p| %>
				<div class="favorite-Tricket-content clearfix">
					<div style="width: 15%; float:left;">
						<div class="favorite-Tricket-content-image clearfix">
							<% if p.user.picture_profile? %>
								<%= image_tag p.user.picture_profile.profile.url, :size => '85x80', :style=>"border-radius: 50px;" %>
							<% else %>
								<%= image_tag "/assets/default.jpg", :size => '85x80', :style=>"border-radius: 50px;" %>
							<% end %>
							<p style="text-align:center;"><%= p.user.nationality %></p>
						</div>
					</div>
					<div class="panel panel-default" style="width: 80%; float:left;">
						<div class="panel-heading" style="background-color:#f8b500;">
							<h5 class="panel-title">Title: <%= p.title.truncate(40) %></h5>
						</div>
						<div class="panel-body">
							<h4 class="label label-default"><%= p.area %></h4>
							<h4 class="label label-default"><%= p.season %></h4>
							<h4 class="label label-default"><%= p.interest %></h4>
							<div style="float:right;">
								<%= link_to "Tricket detail", post_path(p.id), class:"label label-default", :style=>"background-color: #c77eb5" %>
							</div>
						</div>
					</div>
				</div>
				<% end %>
			<% else %>
				<p>There is no favorite Tricket.</p>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="user-review-headline">
				<h1 class="title_type1" style="margin: 0;">Trickets (you commented on)</h1>
				<% if @comments.present? %>
					<% @post_comments.each do |p| %>
						<% if p.user != current_user %>
							<div class="favorite-Tricket-content clearfix">
								<div style="width: 15%; float:left;">
									<div class="favorite-Tricket-content-image clearfix">
										<% if p.user.picture_profile? %>
											<%= image_tag asset_path p.user.picture_profile.profile.url %>
										<% else %>
											<%= image_tag asset_path "default.jpg" %>
										<% end %>
										<p style="text-align:center;"><%= p.user.nationality %></p>
									</div>
								</div>
								<div class="panel panel-default" style="width: 80%; float:left;">
									<div class="panel-heading" style="background-color:#f8b500;">
										<h5 class="panel-title">Title: <%= p.title.truncate(40) %></h5>
									</div>
									<div class="panel-body">
										<h4 class="label label-default"><%= p.area %></h4>
										<h4 class="label label-default"><%= p.season %></h4>
										<h4 class="label label-default"><%= p.interest %></h4>
										<div style="float:right;">
											<%= link_to "Tricket detail", post_path(p.id), class:"label label-default", :style=>"background-color: #c77eb5" %>
										</div>
									</div>
								</div>
							</div>
						<% end %>
					<% end %>
				<% else %>
					There is no Tricket you commented on.
				<% end %>
			</div>
		</div>
	</div>
</div>