<div class="container-fluid">
	<div class="row">
		<div class="locals-index-background1">
			<div class="col-md-12">
				<h1 class="title_type1_local">Locals</h1>
			</div>
		</div>
	</div>

	<% if @search_flag != 0 %>
		<div class="row">
			<div class="col-md-12">
				<div class="locals-populer-content clearfix">
					<h1 class="title_type1_local">Populer Locals (monthly)</h1>
					<% @most_favorited_locals.each do |user| %>
						<div class="locals-index-items">
							<%= link_to user_path(user) do %>
								<div class="thumbnail">
									<% if user.picture_profile? %>
										<%= image_tag asset_path user.picture_profile.profile.url %>
									<% else %>
										<%= image_tag asset_path "default.jpg" %>
									<% end %>
									<div class="caption">
										<h4><%= user.name_user %></h4>
										<p>Nationality: <%= user.nationality %></p>
										<p>Age: <%= (Date.today.strftime("%Y%m%d").to_i - user.birthday.strftime("%Y%m%d").to_i) / 10000 %></p>
									<h3 class="ranking-number"><%= user.followers.where(created_at: 1.month.ago.beginning_of_day..Time.zone.now.end_of_day).count %> favorites</h3>
									</div>
								</div>
							<% end %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	<% end %>

	<div class="row" style="background-color:#EFE9D1; padding-bottom:10px;">
		<div class="col-md-12">
			<div class="locals-search-content clearfix">
				<h1 class="title_type1_local">Locals</h1>
				<div class="search-form-tag">
					<%= form_tag(users_locals_search_path, method: :get) do %>
						<%= label_tag "local_name" %>
						<%= hidden_field_tag :search_flag, 1 %>
						<%= text_field_tag :user_search %>
						<%= submit_tag "search", :style=>"background-color: #c77eb5; color: white; width: 50px; border-radius: 5px;" %>
					<% end %>
				</div>
				<div class="search-form-tag">
					<%= form_tag(users_locals_search_path, method: :get) do %>
						<%= label_tag "nationality" %>
						<%= hidden_field_tag :search_flag, 2 %>
						<%= select_tag "nationality", options_for_select(@nationality) %>
						<%= submit_tag "search", :style=>"background-color: #c77eb5; color: white; width: 50px; border-radius: 5px;" %>
					<% end %>
				</div>
				<div class="search-form-tag">
					<%= form_tag(users_locals_search_path, method: :get) do %>
						<%= label_tag "language" %>
						<%= hidden_field_tag :search_flag, 3 %>
						<%= select_tag "language", options_for_select(@language) %>
						<%= submit_tag "search", :style=>"background-color: #c77eb5; color: white; width: 50px; border-radius: 5px;" %>
					<% end %>
				</div>
			</div>
			<div class="locals-index-headline clearfix">
				<% if @users.present? %>
					<% @users.reverse.each do |user| %>
						<div class="locals-index-items">
							<%= link_to user_path(user) do %>
								<div class="thumbnail">
									<% if user.picture_profile? %>
										<%= image_tag asset_path user.picture_profile.profile.url %>
									<% else %>
										<%= image_tag asset_path "default.jpg" %>
									<% end %>
									<div class="caption">
										<h4><%= user.name_user %></h4>
										<p>Nationality: <%= user.nationality %></p>
										<p>Age: <%= (Date.today.strftime("%Y%m%d").to_i - user.birthday.strftime("%Y%m%d").to_i) / 10000 %></p>
									</div>
								</div>
							<% end %>
						</div>
					<% end %>
				<% else %>
					<h1>Not applicable.</h1>
				<% end %>
			</div>
			<% if @search_flag == 0 %>
				<div class="row" style="background-color:#EFE9D1;">
					<div class="col-md-12">
						<h4 style="text-align: center;"><%= link_to "back", users_locals_path, class:"label label-default", :style=>"background-color: #c77eb5; margin-top: 30px;"%></h4>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>