<div class="container-fluid">
	<div class="row">
		<div class="travelers-index-background1">
			<div class="col-md-12">
				<h1>Travelers</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="travelers-search-content">
				<%= form_tag(users_travelers_search_path, method: :get) do %>
					<%= label_tag "traveler_name" %>
					<%= hidden_field_tag :search_flag, 1 %>
					<%= text_field_tag :user_search %>
					<%= submit_tag "search" %>
				<% end %>
			</div>
			<div class="travelers-index-headline">
				<% @users.each do |user| %>
				<div class="travelers-index-content">
					<p><%= user.name_user %></p>
					<p><%= link_to "userpage" ,user_path(user) %></p>
				</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
        	<%= link_to "back", posts_top_path, class:"nav-button" %>
		</div>
	</div>
</div>