<div class="container-fluid">
	<div class="row">
		<div class="travelers-index-background1">
			<div class="col-md-12">
				<h1 class="title_type1_traveler">Travelers</h1>
			</div>
		</div>
	</div>
	<div class="row" style="background-color:#EFE9D1;">
		<div class="col-md-12">
			<div class="travelers-index-headline clearfix">
				<div class="search-form-tag">
					<%= form_tag(users_travelers_search_path, method: :get) do %>
						<%= label_tag "traveler_name" %>
						<%= hidden_field_tag :search_flag, 1 %>
						<%= text_field_tag :user_search %>
						<%= submit_tag "search", :style=>"background-color: #c77eb5; color: white; width: 50px; border-radius: 5px;"  %>
					<% end %>
				</div>
				<div class="search-form-tag">
					<%= form_tag(users_travelers_search_path, method: :get) do %>
						<%= label_tag "nationality" %>
						<%= hidden_field_tag :search_flag, 2 %>
						<%= select_tag "nationality", options_for_select(@nationality) %>
						<%= submit_tag "search", :style=>"background-color: #c77eb5; color: white; width: 50px; border-radius: 5px;"  %>
					<% end %>
				</div>
				<div class="search-form-tag">
					<%= form_tag(users_travelers_search_path, method: :get) do %>
						<%= label_tag "language" %>
						<%= hidden_field_tag :search_flag, 3 %>
						<%= select_tag "language", options_for_select(@language) %>
						<%= submit_tag "search", :style=>"background-color: #c77eb5; color: white; width: 50px; border-radius: 5px;"  %>
					<% end %>
				</div>
			</div>
			<div class="travelers-index-content clearfix">
				<% if @users.present? %>
					<% @users.reverse.each do |user| %>
					<div class="travelers-index-items">
						<div class="thumbnail">
							<% if user.picture_profile? %>
								<%= image_tag user.picture_profile.profile.url, :size => '150x150', :style=>"border-radius: 150px;" %>
							<% else %>
								<%= image_tag "/assets/default.jpg", :size => '150x150', :style=>"border-radius: 150px;" %>
							<% end %>
							<div class="caption">
								<h4><%= link_to "#{user.name_user}" ,user_path(user) %></h4>
								<p>Nationality: <%= user.nationality %></p>
								<p>Age: <%= (Date.today.strftime("%Y%m%d").to_i - user.birthday.strftime("%Y%m%d").to_i) / 10000 %></p>
							</div>
						</div>
					</div>
					<% end %>
				<% else %>
					<h1>Not applicable.</h1>
				<% end %>
			</div>
		</div>
	</div>
	<div class="row" style="background-color:#EFE9D1;">
		<div class="col-md-12">
			<h4 style="text-align: center;"><%= link_to "back", posts_top_path, class:"label label-default", :style=>"background-color: #c77eb5; margin-top: 30px;"%></h4>
		</div>
	</div>
</div>