<div class="container-fluid">
	<div class="row">
		<div class="locals-index-background1">
			<div class="col-md-12">
			<h1>Locals</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		<h1>Populer Locals</h1>
			<% @most_favorited_users.each do |user| %>
				<p><%= link_to "#{user.name_user}" ,user_path(user) %></p>
				<p><%= user.nationality %></p>
			  	<p><%= user.followers.count %> favorite</p>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		<h1>Locals</h1>
			<div class="locals-search-content">
				<%= form_tag(users_locals_search_path, method: :get) do %>
					<%= label_tag "local_name" %>
					<%= hidden_field_tag :search_flag, 1 %>
					<%= text_field_tag :user_search %>
					<%= submit_tag "search" %>
				<% end %>
				<%= form_tag(users_locals_search_path, method: :get) do %>
					<%= label_tag "nationality" %>
					<%= hidden_field_tag :search_flag, 2 %>
					<%= select_tag "nationality", options_for_select(@nationality) %>
					<%= submit_tag "search" %>
				<% end %>
				<%= form_tag(users_locals_search_path, method: :get) do %>
					<%= label_tag "language" %>
					<%= hidden_field_tag :search_flag, 3 %>
					<%= select_tag "language", options_for_select(@language) %>
					<%= submit_tag "search" %>
				<% end %>
			</div>
			<div class="locals-index-headline">
				<% @users.each do |user| %>
				<div class="locals-index-content">
					<p><%= link_to "#{user.name_user}" ,user_path(user) %></p>
					<p><%= user.nationality %></p>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>