<% if flash[:notice] %>
	<div id="flash">
		<%= flash[:notice] %>
	</div>
<% end %>

<% if @user.picture_background? %>
	<%= image_tag @user.picture_background.background.url, class: "background" %>
<% else %>
	<%= image_tag "/assets/default.jpg", :size => '400x150', class: "background"  %>
<% end %>
<div class="user-headline">
	<h1>Traveler</h1>
	<%= link_to "your favorites", user_favorite_page_path(current_user) %>
	<%= link_to "edit profile", edit_user_path(current_user) %>
	<%= link_to "unsubscribe", users_unsubscribe_path(current_user) %>

    <!-- message -->
	<% if @user.id == current_user.id %>
	<% else %>
		<% if @isRoom == true %>
    		<%= link_to "chat", room_path(@roomId) %>
  		<% else %>
	    	<%= form_for @room do |f| %>
	      		<%= fields_for @roomusernew do |e| %>
	        		<%= e.hidden_field :user_id, :value=> @user.id %>
	    		<% end %>
      			<%= f.submit "new chat" %>
    		<% end %>
  		<% end %>
	<% end %>

	<p>User Name <%= @user.name_user %></p>
	<% if @user.picture_profile? %>
		<%= image_tag @user.picture_profile.profile.url, :style=>"border-radius: 150px;" %>
	<% else %>
		<%= image_tag "/assets/default.jpg", :size => '150x150', :style=>"border-radius: 150px;" %>
	<% end %>

	<!-- ユーザに対するいいね機能 -->
	<% if current_user != @user %>
	  	<% if current_user.following?(@user) %>
		    <%= link_to favorite_path(follow_id: @user.id), id:"favorited", remote: true, method: :delete do %>
				<%= icon 'fa', 'heart', :style=>"color: red;"%>
		    <% end %>
		    <%= link_to favorites_path(follow_id: @user.id), id:"notfavorited", :style=>"display: none;", remote: true, method: :post do %>
				<%= icon 'fa', 'heart', :style=>"color: grey;"%>
		    <% end %>
	  	<% else %>
		    <%= link_to favorite_path(follow_id: @user.id), id:"favorited", :style=>"display: none;", remote: true, method: :delete do %>
				<%= icon 'fa', 'heart', :style=>"color: red;"%>
		    <% end %>
		    <%= link_to favorites_path(follow_id: @user.id), id:"notfavorited", remote: true, method: :post do %>
				<%= icon 'fa', 'heart', :style=>"color: grey;"%>
		    <% end %>
	  	<% end %>
	  	<span id="favorite_count"><%= @favorite_count %> favorite!</span>
	<% else %>
	  	<span id="favorite_count"><%= @favorite_count %> favorite!</span>
	<% end %>
</div>

<!-- travelers用とlocals用必要 -->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
		<h1>Profile</h1>

		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="user-Tricket-headline">
				<h1>Trickets</h1>
				<%= link_to "new Tricket", new_post_path %>
			</div>
			<% @posts.each do |p| %>
			<div class="user-Tricket-content">
				<%= p.title %>
				<%= p.status_display %>
				<%= p.area %>
				<%= p.season %>
				<%= p.interest %>
				<%= link_to "Tricket detail", post_path(p.id) %>
				<%= link_to "edit Tricket", edit_post_path(p.id) %>
			</div>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		<h1>Accomplishments</h1>
		</div>
	</div>
</div>


<!-- travelers用とlocals用必要 -->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
		<p>Locals</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		<p>Profile</p>

		</div>
	</div>
</div>