<div class="container-fluid">
	<div class="row">
		<h1 style="text-decoration: underline; margin-left: 20px;"><%= @user.type_user %>詳細</h1>
		<div class="col-md-6">
			<% if @user.picture_profile? %>
				<div style="text-align: center;"><%= image_tag @user.picture_profile.profile.url, :size => '200x200', :style=>"border-radius: 200px;" %></div>
			<% else %>
				<div style="text-align: center;"><%= image_tag "/assets/default.jpg", :size => '200x200', :style=>"border-radius: 200px;" %></div>
			<% end %>
			<table class="table table-striped">
				<tbody>
					<tr>
						<th>ユーザid</th>
						<th><%= @user.id %></th>
					</tr>
					<tr>
						<th>氏名</th>
						<th><%= @user.name_first %> <%= @user.name_last %></th>
					</tr>
					<tr>
						<th>ユーザ名</th>
						<th><%= @user.name_user %></th>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-6">
			<table class="table table-striped">
				<tbody>
					<tr>
						<th>性別</th>
						<th><%= @user.gender %></th>
					</tr>
					<tr>
						<th>年齢</th>
						<th><%= (Date.today.strftime("%Y%m%d").to_i - @user.birthday.strftime("%Y%m%d").to_i) / 10000 %></th>
					</tr>
					<tr>
						<th>生年月日</th>
						<th><%= @user.birthday.strftime("%Y/%m/%d") %></th>
					</tr>
					<tr>
						<th>国籍</th>
						<th><%= @user.nationality %></th>
					</tr>
					<tr>
						<th>居住地</th>
						<th><%= @user.country %></th>
					</tr>
					<tr>
						<th>言語1</th>
						<th><%= @user.language_first %></th>
					</tr>
					<tr>
						<th>言語2</th>
						<th><%= @user.language_second %></th>
					</tr>
					<tr>
						<th>言語3</th>
						<th><%= @user.language_third %></th>
					</tr>
					<tr>
						<th>メールアドレス</th>
						<th><%= @user.email %></th>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped">
				<tbody>
					<tr>
						<th>趣味</th>
						<th><%= @user.hobby %></th>
					</tr>
					<tr>
						<th>自己紹介</th>
						<th><%= @user.introduction %></th>
					</tr>
					<tr>
						<th>人気</th>
						<th><%= @user.followers.count %></th>
					</tr>
					<tr>
						<th>利用ステータス</th>
						<th><%= @user.status_user %></th>
					</tr>
					<tr>
						<th>削除フラグ</th>
						<% if @user.deleted_at.nil? %>
						<th><%= link_to "問題無 (削除しますか?)", admins_user_path(@user), method: :delete, remote: true, :style=>"font-size: 20px;", id:"normal_user", class:"label label-success", data: { confirm: "このユーザを削除しますか?" } %>
							<%= link_to "消去済 (復活しますか?)", admins_user_restore_path(@user), method: :patch, remote: true, :style=>"font-size: 20px; display: none;", id:"deleted_user", class:"label label-danger", data: { confirm: "このユーザを復活しますか?" } %></th>
						<% else %>
						<th><%= link_to "問題無 (削除しますか?)", admins_user_path(@user), method: :delete, remote: true, :style=>"font-size: 20px; display: none;", id:"normal_user", class:"label label-success", data: { confirm: "このユーザを削除しますか?" } %>
							<%= link_to "消去済 (復活しますか?)", admins_user_restore_path(@user), method: :patch, remote: true, :style=>"font-size: 20px;", id:"deleted_user", class:"label label-danger", data: { confirm: "このユーザを復活しますか?" } %></th>
						<% end %>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<h3 style="text-decoration: underline; margin-left: 20px;">ユーザのコメント一覧</h3>
		<div class="col-md-12">
			<table class="table table-condensed">
				<% @user.comments.reverse.each do |comment| %>
				<tbody class="comments-content">
					<tr>
						<th style="width: 250px;"><%= link_to "#{comment.post.title.truncate(30)}", admins_post_path(comment.post.id) %></th>
						<td style="width: 550px;"><%= comment.content %></td>
						<td><%= comment.created_at.to_s(:long) %></td>
						<td><%= link_to "delete", admins_comment_delete_path(comment.id), method: :delete, data: { confirm: "Are you sure to delete this comment?" } %></td>
					</tr>
				</tbody>
				<% end %>
			</table>
		</div>
	</div>
	<% if @user.type_user_before_type_cast == 0 %>
		<div class="row">
			<h3 style="text-decoration: underline; margin-left: 20px;">ユーザのTricket一覧</h3>
			<div class="col-md-12">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>id</th>
							<th>投稿日</th>
							<th>タイトル</th>
							<th>人気</th>
							<th>達成</th>
							<th>表示</th>
							<th>フラグ</th>
						</tr>
					</thead>
					<% @posts.each do |post| %>
					<tbody>
						<tr>
							<th style="width: 75px;"><%= post.id %></th>
							<td style="width: 200px;"><%= post.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分") %></td>
							<td style="width: 350px;"><%= post.title.truncate(40) %></td>
							<td style="width: 100px;"><%= post.likes.count %></td>
							<td style="width: 75px;"><%= post.status_accomplishment_i18n %></td>
							<td style="width: 75px;"><%= post.status_display_i18n %></td>
							<% if post.deleted_at.nil? %>
								<td style="width: 75px;">問題無</td>
							<% else %>
								<td style="width: 75px; color: red;">削除済</td>
							<% end %>
						</tr>
					</tbody>
					<% end %>
				</table>
			</div>
		</div>
	<% end %>
</div>