<div class="container-fluid">
	<div class="row">
    <div class="col-md-12">
    	<h1 style="text-decoration: underline;">Tricket一覧</h1>
    	<div class="admin-Trickets-search">
    		<div class="search-form-tag">
    			<%= form_tag(admins_posts_search_path, method: :get) do %>
						<%= label_tag "日付(yy-mm-dd)" %>
						<%= hidden_field_tag :search_flag, 1 %>
						<%= text_field_tag :date_search %>
						<%= submit_tag "検索" %>
					<% end %>
				</div>
        <div class="search-form-tag">
					<%= form_tag(admins_posts_search_path, method: :get) do %>
						<%= label_tag "タイトル" %>
						<%= hidden_field_tag :search_flag, 2 %>
						<%= text_field_tag :title_search %>
						<%= submit_tag "検索" %>
					<% end %>
				</div>
        <div class="search-form-tag">
					<%= form_tag(admins_posts_search_path, method: :get) do %>
						<%= label_tag "ユーザ名" %>
						<%= radio_button_tag :delete_flag, 0, checked: true %>全て
						<%= radio_button_tag :delete_flag, 1 %>問題無
						<%= radio_button_tag :delete_flag, 2 %>削除済
						<%= hidden_field_tag :search_flag, 3 %>
						<%= text_field_tag :user_search %>
						<%= submit_tag "検索" %>
					<% end %>
				</div>
      </div>
   	</div>
  </div>
  <div class="row">
      <div class="col-md-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>id</th>
						<th>投稿日</th>
						<th>タイトル</th>
						<th>ユーザid</th>
						<th>ユーザ名</th>
						<th>人気 <%= link_to "▲", admins_posts_sort_path(sort_flag: 1) %><%= link_to "▼", admins_posts_sort_path(sort_flag: 2) %></th>
						<th>達成</th>
						<th>表示</th>
						<th>フラグ</th>
						<th>詳細</th>
					</tr>
				</thead>
				<% @posts.each do |post| %>
				<tbody>
					<tr>
						<th style="width: 75px;"><%= post.id %></th>
						<td style="width: 200px;"><%= post.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分") %></td>
						<td style="width: 350px;"><%= post.title.truncate(40) %></td>
						<td style="width: 75px;"><%= post.user.id %></td>
						<td style="width: 200px;"><%= post.user.name_user.truncate(15) %></td>
						<td style="width: 100px;"><%= post.likes.count %></td>
						<td style="width: 75px;"><%= post.status_accomplishment_i18n %></td>
						<td style="width: 75px;"><%= post.status_display_i18n %></td>
						<% if post.deleted_at.nil? %>
							<td style="width: 75px;">問題無</td>
						<% else %>
							<td style="width: 75px; color: red;">削除済</td>
						<% end %>
						<th style="width: 75px;"><%= link_to "詳細", admins_post_path(post.id) %></td>
					</tr>
				</tbody>
				<% end %>
			</table>
		</div>
	</div>
</div>