<% if flash[:error] %>
	<div id="flash" class="alert alert-danger" role="alert">
		<%= flash[:error] %>
	</div>
<% end %>
<% if flash[:success] %>
	<div id="flash" class="alert alert-success" role="alert">
		<%= flash[:success] %>
	</div>
<% end %>
<% if @contact.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1 class="title_type1">Contact Form</h1>
			  <%= form_for(@contact, url: contacts_path) do |f| %>
				<div class="field">
					<%= f.label :subject %>
					<%= f.text_field :subject, autofocus: true, placeholder: "subject", :style=>"width: 100%;" %>
				</div>
				<div class="field">
					<%= f.label :content %><br>
					<%= f.text_area :content, autofocus: true, placeholder: "content", :style=>"width: 100%; height: 300px;"  %>
				</div>
				<p>Please enter content in 30...500 characters.</p>
				<div class="actions">
					<%= f.submit "send", :style=>"background-color: #c77eb5; color: white; width: 100px; border-radius: 5px;" %>
				</div>
			<% end %>
		</div>
	</div>
</div>