<div class="container-fluid">
	<div class="row">
    <div class="col-md-12">
    	<h1 style="text-decoration: underline;">お問い合わせ一覧</h1>
    	<div class="admin-contacts-search">
    		<div class="search-form-tag">
    			<%= form_tag(admins_contacts_search_path, method: :get) do %>
						<%= label_tag "日付(yy-mm-dd)" %>
						<%= hidden_field_tag :search_flag, 1 %>
						<%= text_field_tag :date_search %>
						<%= submit_tag "検索" %>
					<% end %>
				</div>
    		<div class="search-form-tag">
					<%= form_tag(admins_contacts_search_path, method: :get) do %>
						<%= label_tag "ユーザ名" %>
						<%= hidden_field_tag :search_flag, 2 %>
						<%= text_field_tag :user_search %>
						<%= submit_tag "検索" %>
					<% end %>
				</div>
    		<div class="search-form-tag">
					<%= form_tag(admins_contacts_search_path, method: :get) do %>
						<%= label_tag "eメールアドレス" %>
						<%= hidden_field_tag :search_flag, 3 %>
						<%= text_field_tag :email_search %>
						<%= submit_tag "検索" %>
					<% end %>
				</div>
    		<div class="search-form-tag">
    			<%= label_tag "返信有無ソート：" %>
	  			<%= link_to "返信未", admins_contacts_search_path(search_flag: 4, sort_flag: 0), :style=>"width: 75px; font-size: 16px; background-color: red; color:white;" %>
	  			<%= link_to "返信済", admins_contacts_search_path(search_flag: 4, sort_flag: 1), :style=>"width: 75px; font-size: 16px; background-color: green; color:white;" %>
				</div>
    	</div>
    </div>
	</div>
  <div class="row">
    <div class="col-md-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>id</th>
						<th>日付</th>
						<th>ユーザid</th>
						<th>ユーザ名</th>
						<th>eメールアドレス</th>
						<th>件名</th>
						<th>返信有無</th>
						<th>詳細</th>
					</tr>
				</thead>
				<% @contacts.each do |contact| %>
				<tbody>
					<tr>
						<th style="width: 75px;"><%= contact.id %></th>
						<td style="width: 200px;"><%= contact.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分") %></td>
						<td style="width: 75px;"><%= contact.user.id %></td>
						<td style="width: 200px;"><%= contact.user.name_user.truncate(15) %></td>
						<td style="width: 200px;"><%= contact.user.email %></td>
						<td><%= contact.subject.truncate(30) %></td>
						<% if contact.status_reply_before_type_cast == 0 %>
							<th style="width: 75px; background-color: red; color: white; text-align: center;"><%= contact.status_reply_i18n %></td>
						<% elsif contact.status_reply_before_type_cast == 1 %>
							<th style="width: 75px; background-color: green; color: white; text-align: center;"><%= contact.status_reply_i18n %></td>
						<% end %>
						<th style="width: 75px;"><%= link_to "詳細" ,admins_contact_path(contact.id) %></td>
					</tr>
				</tbody>
				<% end %>
			</table>
		</div>
	</div>
</div>