<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1 class="title_type1">Messages</h1>
			<div class="messages-container clearfix">
			<% @rooms.each do |r| %>
				<% r.room_users.each do |ru| %>
					<% if ru.user_id != current_user.id %>
						<% if r.messages.exists? %>
						<div class="messages-container-items">
							<div class="thumbnail" style="background-color:#EFE9D1;">
								<% if ru.user.picture_profile? %>
									<%= image_tag ru.user.picture_profile.profile.url, :size => '150x150', :style=>"border-radius: 150px;" %>
								<% else %>
									<%= image_tag "/assets/default.jpg", :size => '150x150', :style=>"border-radius: 150px;" %>
								<% end %>
								<div class="caption">
									<% if ru.user.status_user_before_type_cast == 0 %>
										<h5 style="text-align: center;"><%= link_to "#{ru.user.name_user.truncate(10)}", room_path(id: r.id) %> <span class="label label-success" style="font-size: 20px;"><%= ru.user.status_user %></span></h5>
									<% elsif ru.user.status_user_before_type_cast == 1 %>
										<h5 style="text-align: center;"><%= link_to "#{ru.user.name_user.truncate(10)}", room_path(id: r.id) %> <span class="label label-warning" style="font-size: 20px;"><%= ru.user.status_user %></span></h5>
									<% elsif ru.user.status_user_before_type_cast == 2 %>
										<h5 style="text-align: center;"><%= link_to "#{ru.user.name_user.truncate(10)}", room_path(id: r.id) %> <span class="label label-danger" style="font-size: 20px;"><%= ru.user.status_user %></span></h5>
									<% end %>
									<div class="height: 300px;">
										<p style="border-bottom: solid; width: 85px;">last message</p>
										<p><%= r.messages.last.user.name_user.truncate(9) %> :
										   <%= r.messages.last.content.truncate(9) %></p>
										<p><%= r.messages.last.created_at.to_s(:long) %></p>
									</div>
								</div>
							</div>
						</div>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
			</div>
		</div>
	</div>
</div>