<div class="container-fluid">
	<div class="row" style="min-height: 600px; background-color:#EFE9D1;">
		<div class="col-md-12">
			<h1 class="title_type1">Messages</h1>
			<div class="messages-container clearfix">
			<% if @rooms.exists? %>
				<% @rooms.each do |r| %>
					<% r.room_users.each do |ru| %>
						<% if ru.user_id != current_user.id %>
							<% if r.messages.exists? %>
							<div class="messages-container-items">
								<%= link_to room_path(id: r.id), :style=>"text-decoration: none;" do %>
									<div class="thumbnail">
										<% if ru.user.picture_profile? %>
											<%= image_tag asset_path ru.user.picture_profile.profile.url %>
										<% else %>
											<%= image_tag asset_path "default.jpg" %>
										<% end %>
										<div class="caption">
											<% if ru.user.status_user_before_type_cast == 0 %>
												<h5 style="text-align: center;"><%= ru.user.name_user.truncate(10) %> <span class="label label-success" style="font-size: 20px;"><%= ru.user.status_user %></span></h5>
											<% elsif ru.user.status_user_before_type_cast == 1 %>
												<h5 style="text-align: center;"><%= ru.user.name_user.truncate(10) %> <span class="label label-warning" style="font-size: 20px;"><%= ru.user.status_user %></span></h5>
											<% elsif ru.user.status_user_before_type_cast == 2 %>
												<h5 style="text-align: center;"><%= ru.user.name_user.truncate(10) %> <span class="label label-danger" style="font-size: 20px;"><%= ru.user.status_user %></span></h5>
											<% end %>
											<div class="height: 300px;">
												<p style="border-bottom: solid; width: 85px;">last message</p>
												<p><%= r.messages.last.user.name_user.truncate(9) %> :
												   <%= r.messages.last.content.truncate(9) %></p>
												<p><%= r.messages.last.created_at.to_s(:long) %></p>
												<% if r.messages.where(status_open: 0).where.not(user_id: current_user.id).exists? %>
													<h5 style="color:red; font-weight:bold;">Unopened</h5>
												<% else %>
													<h5>Opened</h5>
												<% end %>
											</div>
										</div>
									</div>
								<% end %>
							</div>
							<% end %>
						<% end %>
					<% end %>
				<% end %>
			<% else %>
				<h3>There is no message.</h3>
			<% end %>
			</div>
		</div>
	</div>
</div>