<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title_type1">Messages</h1>
            <% @roomusers.each do |ru| %>
            <% if ru.user_id != current_user.id %>
                <% if ru.user.picture_profile? %>
                    <%= image_tag ru.user.picture_profile.profile.url, :size => '100x100', :style=>"border-radius: 100px;" %> <%= link_to "#{ru.user.name_user}", user_path(ru.user.id) %>
                <% else %>
                    <%= image_tag "/assets/default.jpg", :size => '100x100', :style=>"border-radius: 100px;" %> <%= link_to "#{ru.user.name_user}", user_path(ru.user.id) %>
                <% end %>
            <% end %>
            <% end %>



  <div id="container"  style="height: 500px; overflow: scroll; background: skyblue;">
    <div class="messagesArea messages">
            <% if @messages.present? %>
      <%= render @messages %>
      <% else %>
                <p>No Message</p>
            <% end %>
    </div>
  </div>
  <form class="messageInputForm">
    <div class='container'>
      <input type="text" data-behavior="room_speaker" class="messageInputForm_input" placeholder="メッセージを入力..." style="position: absolute; bottom:50px;">
    </div>
  </form>

  <script>
    $('#container').animate({ scrollTop: $('#container')[0].scrollHeight});
    $('.messageInputForm_input').on('keypress', function(){
            $('#container').animate({ scrollTop: $('#container')[0].scrollHeight});
    });
  </script>