<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title_type1">Messages</h1>
            <% @roomusers.each do |ru| %>
            <% if ru.user_id != current_user.id %>
                <% if ru.user.picture_profile? %>
                    <%= image_tag ru.user.picture_profile.profile.url, :size => '100x100', :style=>"border-radius: 100px;" %> <%= link_to "#{ru.user.name_user}", user_path(ru.user.id) %>
                <% else %>
                    <%= image_tag "/assets/default.jpg", :size => '100x100', :style=>"border-radius: 100px;" %> <%= link_to "#{ru.user.name_user}", user_path(ru.user.id) %>
                <% end %>
            <% end %>
            <% end %>
            <%= form_for @message do |f| %>
                <%= f.text_field :content, :placeholder => "type messages" , :size => 75 %>
                <%= f.hidden_field :room_id, :value => @room.id %>
                <%= f.submit "send", :style=>"background-color: #c77eb5; color: white; width: 100px; border-radius: 5px;" %>
            <% end %>

            <hr>
            <% if @messages.present? %>
                <% @messages.reverse.each do |m| %>
                    <div class="message-content clearfix">
                    <% if m.user == current_user %>
                        <div class="message-items-right">
                            <% if m.user.picture_profile? %>
                                <%= image_tag m.user.picture_profile.profile.url, :size => '30x30', :style=>"border-radius: 30px;" %> <small>at <%= m.created_at.to_s(:long) %></small>
                            <% else %>
                                <%= image_tag "/assets/default.jpg", :size => '30x30', :style=>"border-radius: 30px;" %> <small>at <%= m.created_at.to_s(:long) %></small>
                            <% end %>
                            <p><%= m.content %></p>
                        </div>
                    <% else %>
                        <div class="message-items-left">
                            <% if m.user.picture_profile? %>
                                <%= image_tag m.user.picture_profile.profile.url, :size => '30x30', :style=>"border-radius: 30px;" %> <small>at <%= m.created_at.to_s(:long) %></small>
                            <% else %>
                                <%= image_tag "/assets/default.jpg", :size => '30x30', :style=>"border-radius: 30px;" %> <small>at <%= m.created_at.to_s(:long) %></small>
                            <% end %>
                            <p><%= m.content %></p>
                        </div>
                    <% end %>
                    </div>
                    <hr>
                <% end %>
            <% else %>
                <p>No Message</p>
            <% end %>
        </div>
    </div>
</div>

