<div class="container-fluid">
	<div class="row">
		<div class="Trickets-index-background1">
			<div class="col-md-12">
			<h1>Trickets</h>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="Trickets-index-headline">
				<p>Trickets</p>
			</div>
			<% @posts.each do |post| %>
			<div class="Trickets-index-content">
				<p><%= link_to "#{post.user.name_user}" ,user_path(post.user.id) %></p>
				<p><%= post.user.nationality %></p>
				<p><%= post.area %></p>
				<p><%= post.season %></p>
				<p><%= post.interest %></p>
				<p><%= post.title %></p>
				<p><%= link_to "Tricket detail" ,post_path(post) %></p>
			</div>
			<% end %>
		</div>
	</div>
    <%= link_to "Trickets", posts_top_path, class:"nav-button" %>
</div>