<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<p>Category: <%= @post.area %><%= @post.season %><%= @post.interest %></p>
			<p>accomplish or not: <%= @post.status_accomplishment %></p>
			<p>display or not: <%= @post.status_display %></p>

	<!-- Tricketに対するいいね機能 -->
			<% if current_user %>
			<% if current_user != @user %>
				<% if @post.liked_by?(current_user) %>
				    <%= link_to post_like_path(@post), id:"liked", remote: true, method: :delete do %>
						<%= icon 'fa', 'thumbs-up', :style=>"color: red;"%>
				    <% end %>
				    <%= link_to post_likes_path(@post), id:"notliked", :style=>"display: none;", remote: true, method: :post do %>
						<%= icon 'fa', 'thumbs-up', :style=>"color: grey;" %>
				    <% end %>
				<% else %>
				    <%= link_to post_like_path(@post), id:"liked", :style=>"display: none;", remote: true, method: :delete do %>
						<%= icon 'fa', 'thumbs-up', :style=>"color: red;" %>
				    <% end %>
				    <%= link_to post_likes_path(@post), id:"notliked", remote: true, method: :post do %>
						<%= icon 'fa', 'thumbs-up', :style=>"color: grey;" %>
				    <% end %>
				<% end %>
				<span id="count"><%= @count %> good!</span>
			<% else %>
				<span id="count"><%= @count %> good!</span>
			<% end %>
			<% end %>

		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		<p>Title: <%= @post.title %></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p>User Name: <%= link_to "#{@user.name_user}", user_path(@user) %></p>

		<!-- ユーザに対するいいね機能 -->
			<% if current_user %>
			<% if current_user != @user %>
			  	<% if current_user.following?(@user) %>
				    <%= link_to favorite_path(follow_id: @user.id), id:"favorited", remote: true, method: :delete do %>
						<%= icon 'fa', 'heart', :style=>"color: red;"%>
				    <% end %>
				    <%= link_to favorites_path(follow_id: @user.id), id:"notfavorited", :style=>"display: none;", remote: true, method: :post do %>
						<%= icon 'fa', 'heart', :style=>"color: grey;"%>
				    <% end %>
			  	<% else %>
				    <%= link_to favorite_path(follow_id: @user.id), id:"favorited", :style=>"display: none;", remote: true, method: :delete do %>
						<%= icon 'fa', 'heart', :style=>"color: red;"%>
				    <% end %>
				    <%= link_to favorites_path(follow_id: @user.id), id:"notfavorited", remote: true, method: :post do %>
						<%= icon 'fa', 'heart', :style=>"color: grey;"%>
				    <% end %>
			  	<% end %>
			  	<span id="favorite_count"><%= @favorite_count %> favorite!</span>
			<% else %>
			  	<span id="favorite_count"><%= @favorite_count %> favorite!</span>
			<% end %>
			<% end %>

		    <!-- message -->
		    <% if current_user %>
			<% if @user.id == current_user.id %>
			<% else %>
				<% if @isRoom == true %>
		    		<%= link_to "chat", room_path(@roomId) %>
		  		<% else %>
			    	<%= form_for @room do |f| %>
			      		<%= fields_for @roomusernew do |e| %>
	        			<%= e.hidden_field :user_id, value:@user.id %>
			    		<% end %>
		      			<%= f.submit "new chat" %>
		    		<% end %>
		  		<% end %>
			<% end %>
			<% end %>

		<p>Nationality: <%= @user.nationality %></p>
			<% if @post.post_image? %>
				<% if @post.post_image.file.content_type.include?('image/') %>
					<%= image_tag @post.post_image.post.url %>
				<% elsif @post.post_image.file.content_type.include?('video/') %>
				    <%= video_tag @post.post_image.url, width: "30%", height: "30%", 
                  controls: true, autobuffer: true %>
                <% end %>
            <% else %>
				<%= image_tag "/assets/default.jpg", :size => '400x300' %>
			<% end %>
			<p>When:  <%= @post.time_todo %></p>
			<p>Where:  <%= @post.place_todo %></p>
			<p>Content:  <%= @post.content %></p>
			<%= link_to "Trickets", posts_top_path, class:"nav-button" %>
		</div>
	</div>

	<% if @post.status_accomplishment_before_type_cast == 1 %>
	<div class="row">
		<div class="col-md-12">
		<h1>Tricket came true</h1>
		<p>Your Tricket had come true!! with</p>
		<p>comment: <%= @post.comment_accomplishment %></p>
			<% if @post.image_accomplishment? %>
				<% if @post.image_accomplishment.file.content_type.include?('image/') %>
					<%= image_tag @post.image_accomplishment.post.url %>
				<% elsif @post.image_accomplishment.file.content_type.include?('video/') %>
				    <%= video_tag @post.image_accomplishment.url, width: "30%", height: "30%", 
                  controls: true, autobuffer: true %>
                <% end %>
            <% else %>
				<%= image_tag "/assets/default.jpg", :size => '400x300' %>
			<% end %>
		</div>
	</div>
	<% end %>

	<div class="row">
		<div class="col-md-12">
		<h1>Discuss on this Tricket</h1>
		</div>
	</div>

	<% if current_user %>
	<% if @user.id == current_user.id %>
	<div class="row">
		<div class="col-md-12">
		<h1>Post accomplished message</h1>

		<% if flash[:notice] %>
			<div id="flash">
				<%= flash[:notice] %>
			</div>
		<% end %>

			<%= form_for(@post, url:update_accomplish_path, method: :patch) do |f| %>
		      <div class="field">
		        <%= f.label :comment_accomplishment %>
		        <%= f.text_field :comment_accomplishment, autofocus: true, placeholder: "comment_accomplishment" %>
		      </div>
		      <div class="field">
        		<%= f.label :image_accomplishment %>
        		<%= f.file_field :image_accomplishment, accept: 'image/jpeg,image/gif,image/png,video/*' %>
      		  </div>
			  <div class="actions">
			    <%= f.submit "Accomplish" %>
			  </div>
			<% end %>
			<%= link_to "reset accomplishment", reset_accomplish_path(@post), method: :patch %>
		</div>
	</div>
	<% end %>
	<% end %>
</div>



