<% if user_signed_in? %>
  <div class="nav-container">
    <div id="brand">Tricket</div>
    <% if current_user.picture_profile? %>
      <%= image_tag current_user.picture_profile.profile.url %>
    <% else %>
      <%= image_tag asset_path "default.jpg" %>
    <% end %>
    <%= link_to "#{current_user.name_user}さん", user_path(current_user), class:"nav-button", :style=>"margin-left: 0;" %>
    <div class="nav-lists">
      <%= link_to "Trickets", posts_top_path, class:"nav-button" %>
      <%= link_to "Photos", photos_path, class:"nav-button" %>
      <%= link_to "Locals", users_locals_path, class:"nav-button" %>
      <% if Notification.where(checked: false).where(visited_id: current_user.id).exists? %>
        <%= link_to "Notifications", notifications_path, class:"nav-button", :style=>"color:red" %>
      <% else %>
        <%= link_to "Notifications", notifications_path, class:"nav-button" %>
      <% end %>
      <%= link_to "Messages", rooms_path, class:"nav-button" %>
      <%= link_to "Contacts", new_contact_path, class:"nav-button" %>
      <%= link_to "out", destroy_user_session_path, method: :delete, class:"nav-button" %>
    </div>
  </div>
<% else %>
  <div class="nav-container">
    <div id="brand">Tricket</div>
    <form class="new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="P0g+9HVJINRYxTfgA1LgRwDHENu82oZ4iEir6cZNNOkVlNZc3jkOJH3pVyDLkSkDlNRd3AJ+4faY4ea/EU7UbQ==">
      <div class="field">
        <input id="login_space" autofocus="autofocus" autocomplete="email" type="email" value="" name="user[email]" id="user_email" placeholder="email">
      </div>
      <div class="field">
        <input id="login_space" autocomplete="current-password" type="password" name="user[password]" id="user_password"  placeholder="passward">
      </div>
      <div class="actions">
        <input id="login_button" type="submit" name="commit" value="Log in" data-disable-with="Log in">
      </div>
    </form>
    <%= link_to "Home", root_path, class:"nav-button-home" %>
  </div>
<% end %>

<!-- headerのためのspace -->
<div class="space-top"></div>
<%= yield %>
<!-- footerのためのspace -->
<div class="space-bottom"></div>
<!-- footer -->
<footer id="footer_user">
</footer>