<!DOCTYPE html>
<html>
  <head>
    <title>TricketJapan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- header -->
    <div class="nav-container">
      <div id="brand">
        <p>Tricket</p>
      </div>
    </div>

    <!-- headerのためのspace -->
    <div class="space-top"></div>
    <%= yield %>
    <!-- footerのためのspace -->
    <div class="space-bottom"></div>

    <!-- footer -->
    <footer>
      <p>Contact</p>
    </footer>
  </body>
</html>
