<!DOCTYPE html>
<html>
  <head>
    <title>TricketJapan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- header -->
    <% if user_signed_in? %>
      <div class="nav-container">
        <div id="brand">Tricket</div>
          <%= link_to "#{current_user.name_user}", user_path(current_user), class:"nav-button" %>
        <div class="nav-lists">
          <%= link_to "Trickets", posts_top_path, class:"nav-button" %>
          <%= link_to "Locals", users_locals_path, class:"nav-button" %>
          <%= link_to "Messages", rooms_path, class:"nav-button" %>
          <%= link_to "Contacts", new_contact_path, class:"nav-button" %>
          <%= link_to "out", destroy_user_session_path, method: :delete, class:"nav-button" %>
        </div>
      </div>
    <% else %>
      <div class="nav-container">
        <div id="brand">Tricket</div>
          <form class="new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="P0g+9HVJINRYxTfgA1LgRwDHENu82oZ4iEir6cZNNOkVlNZc3jkOJH3pVyDLkSkDlNRd3AJ+4faY4ea/EU7UbQ==">
            <div class="field">
              <input id="login_space" autofocus="autofocus" autocomplete="email" type="email" value="" name="user[email]" id="user_email" placeholder="email">
            </div>
            <div class="field">
              <input id="login_space" autocomplete="current-password" type="password" name="user[password]" id="user_password"  placeholder="passward">
            </div>
            <div class="actions">
              <input id="login_button" type="submit" name="commit" value="Log in" data-disable-with="Log in">
            </div>
          </form>
          <%= link_to "About", users_about_path, class:"nav-button-home" %>
          <%= link_to "Home", root_path, class:"nav-button-home" %>
      </div>
    <% end %>


    <!-- headerのためのspace -->
    <div class="space-top"></div>
    <%= yield %>
    <!-- footerのためのspace -->
    <div class="space-bottom"></div>

    <!-- footer -->
    <footer>
      <p>Contact</p>
    </footer>
  </body>
</html>
